:root {
    --color1: #191919;
    --color2: #ffffff;
    --color3: #f9f9f9;
}
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    font-size: 1.8rem;    
}
body {
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    width: 90%;
    margin: 0 auto;
    color: var(--color2);
}
header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    list-style: none;
}
header nav ul li {
    transition: .3s transform;
}
header nav ul li a {
    color: black;
    text-decoration: none;
}
header nav ul li:hover {
    transform: scale(1.1);
}
