@use "sass:math";
:root {
    --background-one: #0f0e17;
    --background-two: #146C94;
    --background-three: #854bac;
    --color-one: #F1F6F9;
    --text-one: 'ABeeZee', sans-serif;
}

* {
    box-sizing: border-box;
    color: var(--color-one);
    font-family: var(--text-one);
    transition: color .3s ease, background-color .3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-one);
    margin: 0;
    padding: 0;
    color: var(--color-one);
}

body::-webkit-scrollbar {
    background-color: var(--background-one);
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background-two);
}

main {
    max-width: 800px;
    margin: 0 auto;
}

@function calcular-rem($px) {
    $rem: math.div($px, 16px) * 1rem;
    @return $rem;
}

@mixin fonts($px) {
    font-size: calcular-rem($px);
    line-height: calcular-rem($px) * 1.5;
}