@use "./global" as *;

.sobre-mi {
    padding: 80px 10px;

    h1 {
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        text-align: center;

        span {
            display: block;
        }
    }

    .sobre-mi__informacion {
        display: grid;
        gap: 20px;

        .top-informacion {
            display: grid;
            place-items: center;
            gap: 10px;

            img {
                width: clamp(100px, 100%, 300px);
                border-radius: 25px;
            }

            .enlaces {
                display: grid;
                place-items: center;   
                align-content: space-evenly;
                gap: 10px;
                width: 100%;
                height: 100%;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: clamp(100px, 100%, 250px);
                    height: 50px;
                    background-color: var(--background-two);
                    padding: 5px 10px;
                    border-radius: 10px;
                    text-decoration: none;
                    transition: transform .3s ease;
    
                    &:active {
                        transform: scale(1.1);
                    }
    
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }

        .bottom-informacion {
            p {
                @include fonts(20px)
            }
        }

    }

    @media (min-width: 600px) {
        h1 {
            span {
                display: inline;
            }
        }

        .sobre-mi__informacion {
            .top-informacion {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}